<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Football Intelligence</title>
<!--

Template 2085 Neuron

http://www.tooplate.com/view/2085-neuron

-->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">

<!-- Main css -->
<link rel="stylesheet" href="/static/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->

<!-- <div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div> -->

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="index.html" class="navbar-brand">The Beautiful Game</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="static/about.html">About</a></li>
                    <li><a href="static/gallery.html">Gallery</a></li>
                    <li><a href="static/contact.html">Contact</a></li>
               </ul>
          </div>

  </div>
</div>

<!-- Home Section -->

<section id="home" class="main-home parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Delivering Football Intelligence</h1>
                    <h4>Analysis of European Soccer Player Performance 2018-2019 Season</h4>
                    <a href="#blog" class="smoothScroll btn btn-default">Discover More</a>
               </div>

          </div>
     </div>
</section>

<!-- Blog Section -->

<section id="blog">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="static/single-post.html">
                                   <img src="static/images/Messi_vs_Ronaldo.png" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="static/single-post.html">Messi vs Ronaldo, The Great Debate</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="static/images/Cantona.jpg" class="img-responsive img-circle">Alex Deckert</a></span>
                              <span><i class="fa fa-date"></i> April 18th, 2019</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 57 Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>The great debate in Football right now:  Who is Better...  Messi or Ronaldo?  While we can't settle the debate definitively, we CAN say Messi is clearly outplaying his counterpart this season.  Key area's we wanted to measure against each other were Goals, Assists, Key Passes, Dribbles and Rating.  The little Argentinian is on another planet this year!</p>
                              <a href="static/single-post.html" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="static/single-post.html">
                                   <img src="static/images/Prem_Playmakers.png" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="static/single-post.html">Premier League Attacking Player of the Year</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="static/images/Pirlo.jpeg" class="img-responsive img-circle"> Alex Deckert</a></span>
                              <span><i class="fa fa-date"></i> April 17th, 2019</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 33 Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>While the player of the year debate centers on Raheem Sterling and Virgil Van Dijk, we feel not enough attention is given to what Eden Hazard for Chelsea.  With the highest amount of dribbles and assists in the league this year, he is clearly unplayable.  He also leads the league in the number of times he is fouled per game, so it looks like other teams found a consensus on how they want to slow him down.  Whether they are doing it, is another story.</p>
                              <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                            <a href="static/single-post.html">
                                <img src="static/images/Bundesliga_Playmakers.png" class="img-responsive" alt="Blog Image">
                              </div>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="single-post.html">Jadon Sancho - Tearing up the Bundesliga at 19</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="static/images/XabiAlonso.jpg" class="img-responsive img-circle"> Alex Deckert</a></span>
                              <span><i class="fa fa-date"></i> April 16th 2019</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 14 Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>At 18 years old and not getting playing time for Man City, Jadon Sancho made the leap to the Borussia Dortmund, in the Bundesliga, to a team that had a history of developing young players.  After his first year, we can say that this experiment has been a success for both parties.  He leads the league in dribbles/game, as well as the highest assists in the league.  Plentry more good things to come, from this future (or current) superstar.</p>
                              <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                            <a href="static/single-post.html">
                                <img src="static/images/PSG_Front_Three.png" class="img-responsive" alt="Blog Image">
                              </div>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="single-post.html">The Three Musketeers</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="static/images/Maradona.jpg" class="img-responsive img-circle"> Alex Deckert</a></span>
                              <span><i class="fa fa-date"></i> April 15th 2019</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 11 Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>Neymar's world cup hangover did not last long, as he dominated Ligue 1 this year.  While out with an injury for a large part of the season, his per game stats show just how creative and disruptive a player he can be.  Mbappe is no slouch, as only when being compared to a player of Neymar's ability, would he appear outmatched.  We hope this shows what each player really brings to the team, as Neymar seems to be the creative influence, and Mbappe seems to be the threat in front of goal.</p>
                              <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="single-post.html">
                                   <img src="static/images/Madrid_Front_Three.png" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="single-post.html">Stepping up after Ronaldo's Departure?</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="static/images/Gerrard.jpeg" class="img-responsive img-circle"> Alex Deckert</a></span>
                              <span><i class="fa fa-date"></i> April 14th, 2019</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 7 Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>Many Madristas were sad to see Ronaldo go, but the argument was that he took up much of the limelight, wage structure, and his departure at 33 was not such a bad thing at 100m Euros.  Benzema, long thought to be too unselfish with Ronaldo on his left, and Bale not being able to fully unleash his abilities, and a capable long term replacement in the young Spanish Marco Asensio.  We can see that none of them have really stepped up this year, to fill the void.</p>
                              <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>
               </div>

          </div>
     </div>
</section>

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>Football Intelligence</h3>
                    <p>Knowledge is power.  Delivering data analysis and insight, to help teams make decisions.  Fast and easy way to compare players against their counterparts.</p>
                    <div class="footer-copyright">
                         <p>Copyright &copy; 2019 Football Intelligence - Design: Tooplate</p>
                    </div>
               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Reach Out</h3>
                    <p><i class="fa fa-globe"></i> NY, NY 10024</p>
                    <p><i class="fa fa-phone"></i> 914.707.3191</p>
                    <p><i class="fa fa-save"></i> adeckert23@gmail.com</p>
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-twitter"></a></li>
                         <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                         <li><a href="#" class="fa fa-dribbble"></a></li>
                         <li><a href="https://www.linkedin.com/in/adeckert23/" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>

          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/app.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>

</body>
</html>
